body {
  overflow: auto;
}
.body2 {
  display: flex;
  padding-top: 120px;
  line-height: 24px;
  justify-content: space-around;}
.image img{
  width: 450px;
  margin-left: 100px;}
.image {
  width: 500px;
  height: 400px;
  flex: 0 0 auto;}
.text {
  margin-left: 10px;}

h4,
h6,
p,
button {
  width: 100%;
  margin-bottom: 10px;
}

.btn {
  background-color: rgb(11, 204, 11);
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  border: none;
  margin-top: 15px;
}
h6 {
  font-size: 15px;
  color: grey;
}

.menu_icon {
  color: rgb(11, 204, 11);
}

.menu_icon:hover {
  color: #000;
}

.menu_icon i {
  font-size: 25px;
}

.text h4 {
  font-size: 30px;
}
/* footer */
footer {
  background-color: #cecece;
  line-height: 24px;
}
.footer-container {
  width: 90%;
  margin: auto;

  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
footer ul {
  list-style: none;
  padding: 0 !important;
}
footer ul li a {
  text-decoration: none !important;
  color: #6c6c6c;
  line-height: 2rem;
  transition: all;
  width: 30%;
}

.menu-footer li:hover a {
  color: #00c3da !important;
}

.footer-btn-list button {
  padding: 8px 10px !important;
  width: 30%;
}

.footer-btn-list button:hover {
  background-color: #00c3da !important;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar .icons a {
    margin: 5px 0;
  }

  .body2 {
    flex-direction: column;
    align-items: center;
  }

  .footer-container {
    flex-direction: column;
  }

  .section {
    text-align: center;
  }
}
